.wrapper {
  display: flex;
  flex-direction: column;
}

.list > div:first-child,
.list > div:last-child {
  margin-left: 20px;
}

.inner {
  width: 100%;
  height: 350px;
  padding: 10px 0;
  overflow: hidden;
}

.inner > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  height: 100%;
  overflow: auto;
}

.inner > div > div {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  flex-direction: column;
} 
.inner > div > div > div {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
} 

.footer {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}

.footer button {
  /* margin-left: auto; */
  margin-left: 40px;
  padding: 20px 40px;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0px 0px 16px 8px rgba(51, 51, 255, 0.25),
    0px 0px 8px 8px rgba(51, 51, 255, 0.25);
}

.price {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 36px;
}

.price span {
  margin-right: 10px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-left: 30px;
  padding: 16px 24px;

  border-radius: 20px;
  background: #2f2f37;
  /* max-width: 536px; */
  max-width: 90%;
  margin: auto;

  width: 100%;
  min-height: 80px;

  font-family: 'Jet Brains Mono';
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-inactive-color);
  flex-grow: 1;
  box-sizing: border-box;
}

.emptyBunTop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  padding: 16px 24px;
  min-height: 80px;
  font-family: 'Jet Brains Mono';
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-inactive-color);
  flex-grow: 1;
  box-sizing: border-box;
  background: #2f2f37;
  border-radius: 88px 88px 40px 40px;
}
.emptyBunBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  min-height: 80px;
  margin-right: 20px;
  padding: 16px 24px;
  font-family: 'Jet Brains Mono';
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-inactive-color);
  flex-grow: 1;
  box-sizing: border-box;
  background: #2f2f37;
  border-radius: 40px 40px 88px 88px;
}

.border {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 20px;
}

.border  > div > div {
  max-width: 100%;
}
