.item {
  position: relative;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Iceland', Arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}
