.item {
  position: relative;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Iceland', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #f2f2f3;
  text-align: center;
  cursor: pointer;
}

.title {
  margin: 0;
  margin-top: 10px;
  font-family: 'JetBrains Mono', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 28px;
  line-height: 24px;
}

.price span {
  margin-right: 10px;
}
