.grid {
  gap: 60px;
  row-gap: 24px;
  margin-top: 20px;
  overflow: hidden;
}

.grid section {
  width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  composes: grid;
}

.title {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.main {
  flex-grow: 1;
  padding-top: 40px;
  width: 100%;
  height: 100%;
  background-color: #131316;

  composes: container;
}

@media (min-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.infoOrders {
  composes: grid;
  margin-bottom: 60px;
}

.infoOrdersTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.infoOrdersCount {
  font-family: 'Iceland';
  font-weight: 400;
  font-size: 144px;
  line-height: 120px;
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.infoOrdersList {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
}

.infoOrdersListReady {
  composes: infoOrdersList;
  color: #00CCCC;
}


.items {
  padding-right: 8px;
  height: 90vh;
  overflow-y: auto;
}

.ListCol {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
