.titleModal {
  margin: 0;
  margin-top: 20px;
  margin-right: auto;
  width: 100%;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.pic {
  display: block;
  margin: 0 auto;
  max-width: 480px;
  min-height: 240px;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #8585ad;
}

.list li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.list li span:last-child {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
}
