.grid {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
  margin-bottom: 40px;
}

/* @media (min-width: 425px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
} */
@media (min-width: 768px) {
  .grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.menu {
  order: 1;
}

@media (min-width: 768px) {
  .menu {
    order: 0;
  }
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header > div {
  min-width: auto;
}

@media (max-width: 425px) {
  .header > div {
    padding: 20px;
  }
}

.body {
  height: 600px;
  padding: 10px 0;
  overflow: hidden;
}

.body > div {
  height: 100%;
  padding: 0 10px;
  overflow: auto;
}

.title {
  grid-column-start: 1;
  grid-column-end: 3;

  margin: 0;

  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #f2f2f3;
}

.link {
  position: relative;
  display: block;
  text-decoration: none;
}

.pic {
  width: 240px;
  height: 120px;
}
