.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.link {
  position: relative;
  display: block;
  text-decoration: none;
}
